.application-info {
  border-top: 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.application-info.last {
  border-bottom: 2px solid;
}

.application-form {
  background-color: #d0d0d0;
}

.fa {
  color: black;
}

.header {
  background-color: #eaeaea;
  min-height: 30pt;
  vertical-align: center;
  padding-top: 5pt;
}

.footer {
 background-color: #eaeaea;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  margin: 0;
  background-color: #dddddd;
}

.left-item {
  float: left;
  margin-right: 2%;
}

.right-item {
  float: right;
  margin-left: 5%
}

.left-header {
  margin-left: 5%;
  min-width: 350px;
}

.right-header {
  float: right;
  min-width: 350px;
  margin-right: 3%;
}

.underlined-text {
  text-decoration: underline;
}

body {
  font-size: 12pt;
}

.small-font-size {
  font-size: 10pt;
}

.big-font-size {
  font-size: 16pt;
}

.large-font-size {
  font-size: 22pt;
}

.align-bottom {
  align-items: baseline;
}

.participants {
  height: 20px;
}

.pale-font {
  color: #626256;
}

.faded-font {
  color: #999999;
}

.app-button {
  border-radius: 20px;
  border: 1px solid;
}

.telephone-button {
  display: inline-block;
}

.brn-sm {
  border-radius: 10px;
}

.view-number {
  display: inline-block;
}

.review {
  text-align: left;
}

.reviewer-name {
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.small-button {
  border: 2px solid;
  box-shadow: 5px 5px;
}

.form-control {
  border: 2px solid;
}