<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/fontawesome-all.min.css">
  <title>{% block title %}{% endblock %} - Поставщики Новосибирска</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm justify-content-start navbar-light header">
    <div class="col-auto text-right pr-0">Регион:</div>
    <div class="col-auto dropdown underlined-text">
      <a href="#" class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Новосибирск и область
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item">Другой регион</a>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end ml-3" id="navbarToggler">
      <div class="navbar-nav">
        <a class="nav-item nav-link underlined-text" href="#" style="color: #007bff">{{ user_name }}</a>
        <a class="nav-item nav-link underlined-text" href="#" style="color: #007bff">выход</a>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer class="footer pt-3 pb-3">
    <div class="big-font-size mb-3 text-center">Вы поставщик?</div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 left-footer-col">
          <p>Для доступа к телефонам покупателей заполните форму или позвоните нам <span class="text-nowrap">+7 999 888-77-66</span></p>
          <p>Текст с дополнительной информацией по условиям сотрудничества.<br>
          Возможно, стоит вынести его на отдельную страницу.<br> Текст с дополнительной информацией по условиям сотрудничества.<br>
          Возможно, стоит вынести его на отдельную страницу.</p>
        </div>
        <div class="col-12 col-lg-6 right-footer-col">
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="organisation" class="col-12 col-sm-3 col-form-label text-center text-sm-right">
                Организация
              </label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control " id="organisation" placeholder="">
              </div>
            </div>
          </form>
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="telephone" class="col-12 col-sm-3 col-form-label text-center text-sm-right">Телефон</label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control" id="telephone" placeholder="">
              </div>
            </div>
          </form>
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="email" class="col-12 col-sm-3 col-form-label text-center text-sm-right">Email</label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control" id="email" placeholder="">
              </div>
            </div>
          </form>
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="supplier-name" class="col-12 col-sm-3 col-form-label text-center text-sm-right">Имя</label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control" id="supplier-name" placeholder="">
              </div>
            </div>
          </form>
          <div class="col-12 text-center text-sm-left mt-3">
            <button type="button" class="offset-sm-3 btn btn-light btn-sm small-button">
              Отправить информацию
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ STATIC_URL }}js/jquery-3.3.1.slim.min.js"></script>
  <script src="{{ STATIC_URL }}js/popper.min.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>