<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/fontawesome-all.min.css">
  <title>Заявки</title>
</head>
<body>
  <header>
    <div class="header clearfix common-font-size mb-3">
      <div class="left-item left-header">
        <div class="left-item">
          Регион:
        </div>
        <div class="dropdown underlined-text">
          <a href="#" class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Новосибирск и область
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item">Другой регион</a>
          </div>
        </div>
      </div>
      <div class="right-header underlined-text">
        <a href="#">{{ user_name }}</a>
        <div class="right-item underlined-text">
          <a href="#">выход</a>
        </div>
      </div>
    </div>
  </header>

  <div class="col-auto left-header">
    <div class="row">
      <div>
        <i class="fas fa-home fa-4x"></i>
      </div>
      <div class="col-auto pt-4">
        <p>Логотип</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8 ml-auto mr-auto mb-5 new-applications">
        <div class="row">
          <div class="col-auto ml-0 large-font-size mb-3">Заявки</div>
          <div class="w-100"></div>
          <!--меню свежих заявок-->
          <div class="col mb-2 pale-font">
            <div class="row">
              <div class="col-auto app-section">
                <div class="row">
                  <div class="col-auto app-type">раздел:</div>
                  <div class="col-auto section-dropdown">
                    <a class="dropdown-toggle pale-font underlined-text" href="#" id="applicationType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Все
                    </a>
                    <div class="dropdown-menu" aria-labelledby="applicationType">
                      <a class="dropdown-item" href="#">Другой раздел</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto app-region ml-auto">
                <div class="row">
                <div class="col-auto">регион:</div>
                  <div class="col-auto">
                    <a class="dropdown-toggle underlined-text pale-font" href="#" id="applicationRegion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Новосибирск и область
                    </a>
                    <div class="dropdown-menu" aria-labelledby="applicationRegion">
                      <a class="dropdown-item">Другой регион</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--карточки заявок-->
          {% for application in applications %}
          {% if loop.last %}
          <div class="col-12 pt-2 pb-3 application-info last">
          {% else %}
          <div class="col-12 pt-2 pb-3 application-info">
          {% endif %}
            <div class="row">
              <div class="col-12 col-lg-6 ">{{ application['application_time'] }}</div>
              <div class="col-12 col-lg-6  mb-3 text-lg-right bookmarks">
                <i class="fas fa-star"></i>
                <a class="pale-font underlined-text" href="#">в закладки</a>
              </div>
              <div class="col-12 mb-2">{{ application['application_description'] }}</div>
              <div class="col-12 mb-2">{{ application['customer_name'] }}</div>
              <div class="col-12 col-md-auto mb-2 mb-lg-0">
                <button type="button" class="btn brn-sm">Показать телефон</button>
              </div>
              <div class="col-12 col-md-auto pt-md-3 pl-md-0 small-font-size">{{ application['view_number'] }} просмотров</div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="mt-3 text-center">
          <a href="applications.html" class="btn btn-light btn-lg app-button">Показать ещё</a>
        </div>

        <nav aria-label="Page navigation col-12">
          <ul class="pagination col-12 pr-0 col-sm-10 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto small-button justify-content-center mt-4">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...10</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <footer class="footer pt-3 pb-3">
    <div class="big-font-size mb-3 text-center">Вы поставщик?</div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 left-footer-col">
          <p>Для доступа к телефонам покупателей заполните форму или позвоните нам +7 999 888-77-66</p>
          <p>Текст с дополнительной информацией по условиям сотрудничества.<br>
          Возможно, стоит вынести его на отдельную страницу.<br> Текст с дополнительной информацией по условиям сотрудничества.<br>
          Возможно, стоит вынести его на отдельную страницу.</p>
        </div>
        <div class="col-12 col-lg-6 right-footer-col">
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="organisation" class="col-12 col-sm-3 col-form-label text-center text-sm-right">
                Организация
              </label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control " id="organisation" placeholder="">
              </div>
            </div>
          </form>
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="telephone" class="col-12 col-sm-3 col-form-label text-center text-sm-right">Телефон</label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control" id="telephone" placeholder="">
              </div>
            </div>
          </form>
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="email" class="col-12 col-sm-3 col-form-label text-center text-sm-right">Email</label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control" id="email" placeholder="">
              </div>
            </div>
          </form>
          <form>
            <div class="form-group row mb-0 mb-sm-3">
              <label for="supplier-name" class="col-12 col-sm-3 col-form-label text-center text-sm-right">Имя</label>
              <div class="col-12 col-sm-9 ml-auto pl-sm-0">
                <input type="text" class="form-control" id="supplier-name" placeholder="">
              </div>
            </div>
          </form>
          <div class="col-12 text-center text-sm-left mt-3">
            <button type="button" class="offset-sm-3 btn btn-light btn-sm small-button">
              Отправить информацию
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>